/* Подключение шрифтов */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/ptsans.woff2") format("woff2"), url("../assets/fonts/ptsans.woff") format("woff");
  font-display: swap;
}

/* Основные стили страницы */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.body {
  background-color: #FFFFFF;
  width: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  margin: 0;
  padding-top: 10px;
}

.main {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 4fr;
  column-gap: 15px;
}


/* Плейлист */

.playlist {
  background-color: #F1F1F1;
  border-radius: 15px;
}

.playlist__container {
  width: 100%;
  padding: 15px;
}

.playlist__title {
  text-align: center;
}

.playlist__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.song,
.song__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: start;
  column-gap: 5px;
}

.song__name {
  font-weight: 600;
}

.song__author {
  font-size: 14px;
  line-height: 14px;
}

.song__name,
.song__author {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px
}

.song__name:hover,
.song__author:hover {
  color: #E7891A;
}

.song__name:active,
.song__author:active {
  color: #BC4603;
}

.song__info {
  display: flex;
  flex-direction: column;
}

/* Плеер */
.audio-player {
  background-color: #F1F1F1;
  border-radius: 15px;
}

.audio-player__container {
  padding: 15px;
}

.audio-player__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}

.audio-player__name-song {
  font-size: 20px;
}

.audio-player__progress-container {
  margin-bottom: 20px;
}

.audio-player__progress,
.audio-player__progress-fill-line {
  width: 100%;
  height: 5px;
  border-radius: 7px;
}

.audio-player__progress {
  background-color: #C3C3C3;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
}

.audio-player__progress-fill-line {
  width: 0;
  background-color: #E7891A;
  position: absolute;
}

.audio-player__time-container {
  font-size: 14px;
  line-height: 14px;
  display: flex;
  justify-content: space-between;
}

.audio-player__buttons {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

/* Кнопки */
.button {
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 0;
}

.icon {
  cursor: pointer;
}

.icon:hover{
  fill: #E7891A;
}

.icon:active {
  fill: #BC4603;
}